<div class="container">
  <h1 class="heading">Bem-vindo ao <%= ENV['APPLICATION_NAME'].titleize%></h1>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida nec justo ac consectetur. Nulla facilisi. Cras varius elit et justo sodales, nec dictum libero sodales. Nulla facilisi.</p>
</div>
